deployment/*
javasource/*/proxies/*
javasource/appcloudservices/
javasource/system/
javasource/mxmodelreflection/
javasource/core/
javasource/com/
theme/*
GPUCache/
theme_old/

.mendix-cache/*
.classpath
.project
*.launch
*.tmp
*.lock
*.bak