deployment/*
javasource/*/proxies/*
javasource/appcloudservices/
javasource/system/
javasource/mxmodelreflection/
javasource/core/
javasource/com/
theme/*
GPUCache/
theme_old/

.mendix-cache/*
.classpath
.project
*.launch
*.tmp
*.lock
*.bak
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/microflowscheduledeventmanager.mpr.bak
/microflowscheduledeventmanager.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
